@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: grid;
    place-items: center;
    padding: 1rem;
    background: #272a37;
    font-family: Poppins;
}

form {
    width: 100%;
    max-width: 30rem;
}

select,
label,
input,
textarea,
button {
    display: block;
}

select,
input,
textarea,
button {

    font: Poppins;
    padding: 1.25rem;
    font-weight: 700;
}

select,
input,
textarea {
    margin-bottom: 1rem;
    color: white;
    background: #323644;
    border: 0.125rem solid transparent;
    border-radius: 1.125rem;
    transition: border-color 0.3s, box-shadow 0.3s;
}

select:hover,
input:hover,
input:focus,
textarea:hover,
textarea:focus {
    outline: none;
    border-color: #1d90f5;
    box-shadow: 0 0 0 0.3125rem #26344a;
}

label {
    margin-bottom: 0.5rem;
    color: #84868f;
}

textarea {
    min-height: 12.5rem;
    resize: vertical;
}

button {
    border: none;
    border-radius: 99px;
    color: white;
    background: #1d90f5;
    cursor: pointer;
    transition: 0.3s;
}

button:hover,
button:focus {
    outline: none;
    background: #1c70d3;
}

button:disabled {
    cursor: not-allowed;
    background: #555b69;
}

.success,
.error {
    text-align: center;
}

.success {
    color: greenyellow;
}

.error {
    color: tomato;
}

td,
th{
    margin: auto;
    color: #84868f;
    text-align: center;
}

h1
h3{
    margin: 1rem;
    color: #84868f;

}

h2{
    text-align: center;
    margin: 5rem;
    color: #84868f;
}


.pdr {
    margin: 0.5rem;
}

.col-3 table tbody tr td{
    text-align: left;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 24.99%;}
.col-4 {width: 33.32%;}
.col-5 {width: 41.65%;}
.col-6 {width: 49.98%;}
.col-7 {width: 58.31%;}
.col-8 {width: 66.32%;}
.col-9 {width: 74.97%;}
.col-10{width: 83.3%;}
.col-11 {width:91.63%;}
.col-12 {width: 100%;}